<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>690484785173-ucrbi1ndij81al69k5npe8mgtrm4rh07.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.690484785173-ucrbi1ndij81al69k5npe8mgtrm4rh07</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>690484785173-46d6ops9736t65f7lqdvu8uosjarc1r8.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBvGpBfiKO-wn4AXNVq3dIxYdyHYEviae8</string>
	<key>GCM_SENDER_ID</key>
	<string>690484785173</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>me.yseeger.spt</string>
	<key>PROJECT_ID</key>
	<string>study-progress-tracker</string>
	<key>STORAGE_BUCKET</key>
	<string>study-progress-tracker.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:690484785173:ios:ae10ae196b16986ec29e1c</string>
</dict>
</plist>